[Unit]
Description="Synchronize /boot to /boot/efi"

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=/usr/bin/update-grubefi

[Install]
WantedBy=multi-user.target
